body {
    background-color: #FFFDFC;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #424249;
    width: 100vw;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logoContainer {
    width: 50vw;
}

#totalContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#piggyBank {
    max-height: 15vh;
    float: left;
    padding: 10px;
}

#budgetTotal {
    float: right;
    font-size: 5vh;
}

h1 {
    font-size: 10vh;
    font-family: "Righteous", sans-serif;
    font-weight: bold;
    padding-top: 5vh;
}

h2 {
    font-size: 5vh;
    font-family: "Righteous", sans-serif;
    font-weight: bold;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    color: #424249;
}

#monthlyExpensesContainer {
    border-radius: 5px;
    background-color: #EFE8E1;
    height: auto;
    width: 30vw;
    padding: 1em;
}

#expenses {
    width: 100%;
}

.listItem {
    color: #424249;
    font-size: 24px;
}

.trashIcon {
    width: 2em;
    height: auto;
}

#addBillContainer {
    border-radius: 5px;
    background-color: #54D2E5;
    height: 40vh;
    width: 35vw;
    padding: 1em;
}

form {
    width: 100%;
}

label {
    display: inline-block;
    width: 15%;
    font-size: 24px;
    margin: 0.5em;
    padding-right: 20px;
}

input[type=text] {
    width: 65%;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-style: inset;
}

input[type=text]:focus {
    outline:none;
    border: 3px solid #424249;
    border-radius: 5px;
  }

input[type=submit] {
    width: 90%;
    height: 2em;
    background-color: #424249;
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5em;
    border:none;
}